<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Hello! My name is Andrew Hercules and I'm a Toronto-based user experience (UX) researcher and designer and digital strategist.
          And yes, in case you're wondering, my last name really is Hercules!
        </p>
        <p>
          I recently (January 2017) relocated back home to Toronto after living in London, England since 2015. While living in London, I worked for the
          University of London (UoL) as a UX Researcher and Designer and for Deloitte Digital as a UX/UI Consultant.
          Prior to moving to London, I worked as a freelance digital consultant and writer and as a Communications Coordinator
          and Front-End Developer for the University of Toronto.
        </p>
        <p>
          Outside of work, you’ll find me dabbling in some creative writing, checking out the newest hot yoga studio, playing tennis, or
          hanging from a ceiling and practicing circus arts like I'm a Cirque du Soleil performer.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="docs/Andrew_Hercules_CV_full.pdf"><i class="fa fa-4x fa-file-pdf-o"></i></a>
          <p>Download a copy of my CV</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://linkedin.com/in/andrewhercules" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i></a>
          <p>Connect with me on LinkedIn</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://github.com/andrewhercules" target="_blank"><i class="fa fa-4x fa-github"></i></a>
          <p>View my code on GitHub</p>
        </div>
      </div>
    </div>
  </div>
</section>
