<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Hello! My name is Andrew Hercules and I am a Toronto-based user experience (UX) researcher and designer and digital strategist.
          And yes, in case you are wondering, my last name really is Hercules!
        </p>
        <p>
          In January 2017, I relocated back to Toronto after moving to London, England in 2015. While living in London, I worked for the
          University of London as a UX Researcher/Designer and for Deloitte Digital as a UX/UI Consultant and had the opportunity to research
          and design systems used by millions of users throughout Europe. Prior to moving to London, I worked in Toronto as a Freelance Digital Consultant, a
          Freelance Writer, and as a Communications Coordinator and Front-End Developer for the University of Toronto.
        </p>
        <p>
          Outside of work, you will find me dabbling in some creative writing, checking out the newest hot yoga studio, playing tennis, at a gymnastics
          centre flipping around and swinging on bars, or practicing circus arts on a trapeze.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="docs/Andrew_Hercules_CV.pdf"><i class="fa fa-4x fa-file-pdf-o"></i></a>
          <p>Download a copy of my CV</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://linkedin.com/in/andrewhercules" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i></a>
          <p>Connect with me on LinkedIn</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://github.com/andrewhercules" target="_blank"><i class="fa fa-4x fa-github"></i></a>
          <p>View my code on GitHub</p>
        </div>
      </div>
    </div>
  </div>
</section>
