<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
          Hello! My name is Andrew Hercules and I'm a London-based developer, UX researcher/designer, and digital strategist.
          And yes, in case you're wondering, my last name really is Hercules, just like the famous Greek hero!
        </p>
        <p>
          I currently work for the University of London (UoL) as a Developer and UX Researcher/Designer.
          Prior to joining UoL, I worked for Deloitte Digital in their London studios as a Front-End Developer and UX/UI Consultant.
          I have also worked as a freelance digital consultant and writer and as a Communications Coordinator
          and Front-End Developer for the University of Toronto.
        </p>
        <p>
          Outside of work, you’ll find me dabbling in some creative writing, checking out a hot yoga studio,
          playing tennis and pretending I'm just as good as Venus Williams or Andy Murray at Wimbledon,
          or hanging from a ceiling and practicing circus arts like I'm a Cirque du Soleil performer.
        </p>
      </div>
    </div>
    <br />
    <br />
    <div class="row">
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="/docs/AndrewHercules_CV.pdf" target="_blank"><i class="fa fa-4x fa-file-pdf-o"></i></a>
          <p>Download my one-page CV</p>
          <small><a href="/docs/AndrewHercules_CV_full.pdf" target="_blank">(Full CV)</a></small>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://linkedin.com/in/andrewhercules" target="_blank"><i class="fa fa-4x fa-linkedin-square"></i></a>
          <p>Connect with me on LinkedIn</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 text-center">
        <div class="service-box">
          <a href="http://github.com/andrewhercules" target="_blank"><i class="fa fa-4x fa-github"></i></a>
          <p>View my code on GitHub</p>
        </div>
      </div>
    </div>
  </div>
</section>
