<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Website theme courtesy of <a href="http://startbootstrap.com/" target="_blank">David Miller at Blackrock Digital</a>.
          The source code is available on <a href="https://github.com/andrewhercules/personal-website" target="_blank">GitHub</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
