<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Website design based on <a href="http://startbootstrap.com/template-overviews/freelancer/" target="_blank">Freelancer theme</a>
          developed by <a href="http://startbootstrap.com/" target="_blank">Start Bootstrap</a>.
          The source code is available on <a href="https://github.com/andrewhercules/personal-website" target="_blank">GitHub</a>.
        </div>
      </div>
    </div>
  </div>
</footer>
