<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>UX Research and Design</h3>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_bloom.png" class="img-responsive" alt="Graphic illustration of online learning environment">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_halls_app_project.png" class="img-responsive" alt="Graphic illustration of smartphone with app icon">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_tfl.png" class="img-responsive" alt="Graphic illustration of Transport for London's underground logo ">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_lsbu.png" class="img-responsive" alt="Low fidelity mockup of London South Bank University repository">
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>Web Development</h3>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_rewardr.png" class="img-responsive" alt="Screenshot of Rewardr homepage">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_badgr.png" class="img-responsive" alt="Screenshots of Badgr mobile application">
        </a>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/pm_pico_pico.png" class="img-responsive" alt="Screenshot of Pico Pico homepage">
        </a>
      </div>
    </div>
  </div>
</section>
