<section id="skills" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>My Skills</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-user"></i>
          <h4>UX Research/Design</h4>
          <p>Conducting interviews. Developing personas and journeys.
            Prototyping designs. Testing with users. UX research and design is at the core of
            everything I do.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-code"></i>
          <h4>Web Development</h4>
          <p>While I specialise in front-end development and designing and building intuitive user-friendly interfaces, I can also
            debug back-end code and work with databases.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cogs"></i>
          <h4>Digital Strategy</h4>
          <p>
            Backed by comprehensive user research and design and solid web development fundamentals,
            I help organisations create and execute their digital strategy.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-institution"></i>
          <h4>Industry Experience</h4>
          <p>
            I have worked with a range of organisations in the higher education, research,
            transportation, insurance, legal, direct sales, and publishing industries.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
