<main id='container'>
  
  <section id='content'>
  
    <section id='heading'>
    
      <h1>About Me</h1>
    
    </section>

    <section id='photo'>
      <img src='/images/andrew.png' alt='Photo of Andrew Hercules' id='headshot'>
    </section>

    <section id='bio'>
    
      <p class='about-text'>My name is Andrew Hercules - yes, my last name really is Hercules, just like the famous Greek demigod - and I'm a junior developer and designer based in London, UK.</p>
      <p class='about-text'>I recently completed the 12-week full-time intensive web development boot camp at Makers Academy in London, UK. Prior to joining Makers, I was a Communications Coordinator with the University of Toronto and also did some freelance consulting work for a range organizations looking to understand and engage with consumers in the highly-coveted 18-25 demographic.</p>
      <p class='about-text'>When I'm not coding, learning a new language, or reading up on trends in technology and digital communications, you can find me dabbling in some creative writing (mostly because I want to win an Academy Award), checking out the newest hot yoga studio, playing tennis and pretending I'm just as good as Venus Williams or Andy Murray, or hanging from a ceiling and practicing circus arts like I'm an artist with Cirque du Soleil.</p>  
   
      <p class='about-text-home-link'>Homepage: <a href='/'><span class='fa fa-home'></span></a>
    </section>

  </section>

</main>