<main id='container'>

  <section id='content'>

    <header>
      <h1>About Me</h1>
      <img src='/img/andrew.png' alt='Photo of Andrew Hercules' id='headshot'>
    </header>

    <section id='bio'>
      <p class='about-text'>Hi there! My name is Andrew Hercules and I'm a junior developer, web designer, and digital strategist. And yes, in case you're wondering, my last name really is Hercules, just like the famous Greek hero!</p>
      <p class='about-text'>I recently completed the 12-week full-time intensive web development boot camp at Makers Academy. Prior to joining Makers, I was a Communications Coordinator with the University of Toronto and also did some freelance consulting work for organizations looking to develop effective, efficient, and engaging digital strategies. When I'm not coding, learning a new language, or reading up on technology marketing and trends, you can find me dabbling in some creative writing (mostly because I want to win an Academy Award), checking out a hot yoga studio, playing tennis and pretending I'm just as good as Venus Williams or Andy Murray, or hanging from a ceiling and practicing circus arts like I'm a Cirque du Soleil artist.</p>
      <p class='about-text-home-link'>Homepage: <a href='/'><span class='fa fa-home'></span></a>
    </section>

  </section>

</main>
