<main id='container'>
  
  <section id='content'>
  
  <section id='top-row-icons'>
      
      <section class='icon' id='about'></section>
      <section class='icon' id='cv'></section>
      <section class='icon' id='portfolio'></section>
    
    </section>

    <section id='name'>
      <h1>Andrew Hercules</h1>
    </section>

    <section id='title'>
      <h2>Developer &nbsp|&nbsp Designer &nbsp|&nbsp Digital Strategist</h2>
    </section>
    
    <section id='bottom-row-icons'>

      <section class='icon' id='github'><img src='/images/github.png' alt='Icon of GitHub logo'></section>
      <section class='icon' id='linkedin'></section>
      <section class='icon' id='contact'></section>
      
    </section>

  </section>

  <footer id='footer-bar'>
    <address><p id='contact-info'>Canada: +1 416 312 4744 &nbsp|&nbsp UK: +44 (0)7511 311 454 &nbsp|&nbsp Skype: andrewhercules &nbsp|&nbsp Email: <a href='mailto:andrewhercules@gmail.com'>andrewhercules@gmail.com</a></p></address>
    <p id='icon-credits'>Icons made by <a href='http://www.freepik.com' title='Freepik'>Freepik</a>, <a href='http://www.icomoon.io' title='Icomoon'>Icomoon</a>, <a href='http://www.unocha.org' title='OCHA'>OCHA</a>, and <a href='http://www.simpleicon.com' title='SimpleIcon'>SimpleIcon</a>, and licensed from <a href='http://www.flaticon.com' title='Flaticon'>www.flaticon.com</a> via <a href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0'>CC BY 3.0</a></p>
  </footer>

</main>