<main id='container'>
  
  <section id='content'>
  
  <section id='top-row-icons'>
      
      <section class='icon-container' id='about'><a href='/about'><img src='/images/about.png' alt='Icon of silhouette' class='icon'></a></section>
      <section class='icon-container' id='cv'><a href='/docs/AndrewHercules_CV_Dec2014.pdf'><img src='/images/cv.png' alt='Icon of hand with CV document' class='icon'></a></section>
      <section class='icon-container' id='portfolio'><a href='/docs/AndrewHercules_DesignPortfolio.pdf'><img src='/images/portfolio.png' alt='Icon of portfolio book' class='icon'></a></section>
    
    </section>

    <section id='name'>
      <h1>Andrew Hercules</h1>
    </section>

    <section id='title'>
      <h2>Developer &nbsp|&nbsp Designer &nbsp|&nbsp Digital Strategist</h2>
    </section>
    
    <section id='bottom-row-icons'>

      <section class='icon-container' id='github'><a href='http://github.com/andrewhercules' target='_blank'><img src='/images/github.png' alt='Icon of GitHub logo' class='icon' class='icon'></a></section>
      <section class='icon-container' id='linkedin'><a href='http://linkedin.com/in/andrewhercules' target='_blank'><img src='/images/linkedin.png' alt='Icon of LinkedIn logo' class='icon'></a></section>
      <section class='icon-container' id='email'><a href='mailto:andrewhercules@gmail.com'><img src='/images/email.png' alt='Icon of envelope representing email message' class='icon'></a></section>
      
    </section>

  </section>

  <!-- <footer id='footer-bar'>
    <address><p id='contact-info'>Canada: +1 416 312 4744 &nbsp|&nbsp UK: +44 (0)7511 311 454 &nbsp|&nbsp Email: <a href='mailto:andrewhercules@gmail.com'>andrewhercules@gmail.com</a></p></address>
    <p id='icon-credits'>Icons made by <a href='http://www.freepik.com' title='Freepik'>Freepik</a>, <a href='http://www.icomoon.io' title='Icomoon'>Icomoon</a>, <a href='http://www.unocha.org' title='OCHA'>OCHA</a>, and <a href='http://www.simpleicon.com' title='SimpleIcon'>SimpleIcon</a>, and licensed from <a href='http://www.flaticon.com' title='Flaticon'>www.flaticon.com</a> via <a href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0'>CC BY 3.0</a></p>
  </footer> -->

</main>