<main id='container'>

  <section id='content'>

    <section id='top-row-icons'>
      <section class='icon-container' id='about'><a href='/about'><img src='/img/about.png' alt='Icon of silhouette' class='icon'></a></section>
      <section class='icon-container' id='cv'><a href='/docs/AndrewHercules_CV_Dec2014.pdf'><img src='/img/cv.png' alt='Icon of hand with CV document' class='icon'></a></section>
      <section class='icon-container' id='portfolio'><a href='/docs/AndrewHercules_DesignPortfolio.pdf'><img src='/img/portfolio.png' alt='Icon of portfolio book' class='icon'></a></section>
    </section>

    <section id='name'>
      <h1>Andrew Hercules</h1>
    </section>

    <section id='title'>
      <h2>Developer &nbsp|&nbsp Designer &nbsp|&nbsp Digital Strategist</h2>
    </section>

    <section id='bottom-row-icons'>
      <section class='icon-container' id='github'><a href='http://github.com/andrewhercules' target='_blank'><img src='/img/github.png' alt='Icon of GitHub logo' class='icon' class='icon'></a></section>
      <section class='icon-container' id='linkedin'><a href='http://linkedin.com/in/andrewhercules' target='_blank'><img src='/img/linkedin.png' alt='Icon of LinkedIn logo' class='icon'></a></section>
      <section class='icon-container' id='email'><a href='mailto:andrewhercules@gmail.com'><img src='/img/email.png' alt='Icon of envelope representing email message' class='icon'></a></section>
    </section>

  </section>

</main>
