<!DOCTYPE html>

<html>
  
  <head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='The personal website of Andrew Hercules'>
    <meta name='author' content='Andrew Hercules'>

    <title>AndrewHercules.com</title>    

    <link rel='icon' type='image/ico' href='favicon.ico'>
    <link rel='icon' type='image/ico' href='http://andrewhercules.com/favicon.ico'>
    <link rel='icon' type='image/x-icon' href='favicon.ico'>
    <link rel='icon' type='image/x-icon' href='http://andrewhercules.com/favicon.ico'>
    <link rel='stylesheet' type='text/css' href='/css/reset.css'>
    <link rel='stylesheet' type='text/css' href='/css/stylesheet.css'>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bevan|Pontano+Sans' rel='stylesheet' type='text/css'>
  
  </head>
  
  <body>

    <%= yield %>

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
  <script src='js/interface.js'></script>

  </body>

</html>