<!DOCTYPE html>

<html lang='en'>
  
  <head>
    
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name='description' content='The personal website of Andrew Hercules'>
    <meta name='author' content='Andrew Hercules'>

    <title>AndrewHercules.com</title>    

    <link rel='stylesheet' type='text/css' href='/css/normalize.css'>
    <link rel='stylesheet' type='text/css' href='/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='/css/full.css'>
  
  </head>
  
  <body>

    <%= partial :header %>
    <%= partial :index %>
    <%= yield %>

  </body>

</html>