<link href='http://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

<main id='container'>
  
  <section id='content'>
  
    <section id='name'>
      <h1>Andrew Hercules</h1>
    </section>
    
    <section id='top-row-icons'>
      
      <section class='icon' id='about'></section>
      <section class='icon' id='cv'></section>
      <section class='icon' id='portfolio'></section>
    
    </section>

    <section id='bottom-row-icons'>

      <section class='icon' id='github'></section>
      <section class='icon' id='linkedin'></section>
      <section class='icon' id='contact'></section>
      
    </section>

  </section>

</main>