<main id='container'>

  <section id='content'>
  <h1>404 - Page Not Found</h1>

  <h2>I am sorry, but the page you are looking for <br/>does not exist or has moved.</h2>

  <h2>Please return back to the <a href='/'>homepage ( <span class='fa fa-home'></span> )</a><br/> or contact me by <a href='mailto:andrewhercules@gmail.com?subject=404 Missing Page on andrewhercules.com'>email ( <span class='fa fa-envelope'></span> )</a>.</h2>
  </section>

</main>
