<main class='container'>

  <section class='content'>

    <header>

      <section class='row'>
        <section class='col-lg-12'>
          <h1 class='page-header'>My Portfolio <small>Web Development</small></h1>
        </section>
      </section>

    </header>

    <!-- First row of portfolio items -->

    <section class='row portfolio-row'>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/website-response-time-app.png' data-lightbox='portfolio-images' data-title='Website Response Time App, a simple AngularJS application'>
            <img src='/img/website-response-time-app.png' alt='Screenshot of Website Response Time App' class='project-image-preview'/>
          </a>
        </section>
        <h3 class='project-title'>200/OK</h3>
        <section class='project-details'>
          <p class='project-description'>200/OK, also known as the Website Response Time App, is a basic AngularJS app that consumes a mock API generated with Ruby on a Sinatra server.</p>
          <a href='https://website-response-time-app.herokuapp.com/' target='_blank' class='project-link'><button class='btn btn-default'>Live version on Heroku</button></a>
          <a href='https://github.com/andrewhercules/website-response-time-app' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
        </section>
      </section>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/rewardr.png' data-lightbox='portfolio-images' data-title='Rewardr, a Ruby on Rails corporate rewards app'>
            <img src='/img/rewardr.png' alt='Screenshot of Rewardr app' class='project-image-preview'/>
          </a>
        </section>
          <h3 class='project-title'>Rewardr</h3>
          <section class='project-details'>
            <p class='project-description'>Rewardr is a corporate rewards app built using Ruby on Rails, various gems, and HTML/CSS/jQuery on the front-end.</p>
            <a href='https://fast-meadow-6272.herokuapp.com/' target='_blank' class='project-link'><button class='btn btn-default'>Live version on Heroku</button></a>
            <a href='https://github.com/HatStephens/FATS_Rewardr' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
          </section>
      </section>

    </section>

    <!-- Second row of portfolio items -->

    <section class='row portfolio-row'>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/badgr.png' data-lightbox='portfolio-images' data-title='Badgr, a mobile app for sharing badges with your friends'>
            <img src='/img/badgr.png' alt='Screenshot of Badgr app interface' class='project-image-preview'/>
          </a>
        </section>
        <h3 class='project-title'>Badgr</h3>
        <section class='project-details'>
          <p class='project-description'>Badgr is a mobile app built with JavaScript, HTML, and CSS that allows users to send badges to their friends. Like Pointr, it uses the Parse platform.</p>
          <a href='https://github.com/Scully87/FATS_badgr' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
        </section>
      </section>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/pointr.png' data-lightbox='portfolio-images' data-title='Pointr, an iOS app for sending points to friends'>
            <img src='/img/pointr.png' alt='Small image of Pointr app' class='project-image-preview'/>
          </a>
        </section>
        <h3 class='project-title'>Pointr</h3>
        <section class='project-details'>
          <p class='project-description'>Pointr is an iOS app built with Swift and Xcode 6.0 that allows users to send points to their friends. Like Badgr, it uses the Parse platform.</p>
          <a href='https://github.com/HatStephens/pointr_iOS_FinalProjectApp' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
        </section>
      </section>

    </section>

    <!-- Third row of portfolio items -->

    <section class='row portfolio-row'>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/pico-pico.png' data-lightbox='portfolio-images' data-title='Pico Pico, a Twitter-like clone'>
            <img src='/img/pico-pico.png' alt='Screenshot of Pico Pico app' class='project-image-preview'/>
          </a>
        </section>
        <h3 class='project-title'>Pico Pico</h3>
        <section class='project-details'>
          <p class='project-description'>Pico Pico is a basic Twitter-like app created with PostgreSQL, Ruby, Sinatra, HTML, CSS, and jQuery.</p>
          <a href='https://pico-pico.herokuapp.com/' target='_blank' class='project-link'><button class='btn btn-default'>Live version on Heroku</button></a>
          <a href='https://github.com/andrewhercules/pico-pico' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
        </section>
      </section>

      <section class='col-md-6 portfolio-item'>
        <section class='project-image'>
          <a href='/img/rock-paper-scissors.png' data-lightbox='portfolio-images' data-title='Rock, Paper, Scissors, the classic hand game'>
            <img src='/img/rock-paper-scissors.png' alt='Small image of Rock, Paper, Scissors app' class='project-image-preview'/>
          </a>
        </section>
        <h3 class='project-title'>Rock, Paper, Scissors</h3>
        <section class='project-details'>
          <p class='project-description'>Rock, Paper, Scissors is a single-player version of the the classic game built with Ruby, Sinatra, HTML, CSS, and jQuery.</p>
          <a href='https://ah-rps.herokuapp.com/' target='_blank' class='project-link'><button class='btn btn-default'>Live version on Heroku</button></a>
          <a href='https://github.com/andrewhercules/rock-paper-scissors' target='_blank' class='project-link'><button class='btn btn-default'>Source code</button></a>
        </section>
      </section>

    </section>

  </section>

</main>
