<main id='container'>

  <section id='content'>

    <!-- Row #1 -->

    <section class='portfolio-row'>

      <section class='portfolio-item'>

        <h1 class='project-title'>Pico Pico</h1>
        <a href="/img/pico-pico-full.png" data-lightbox="image-1" data-title="Pico Pico, a Twitter-like clone that I created during my time at Makers Academy"><img src='/img/pico-pico-full.png' alt='Small image of Pico Pico app' class='portfolio-item-preview'/></a>
        <p class='project-description'>This is where the brief project description goes</p>
        <p class='project-links'><a href='#' target='_blank'>Live version (Heroku)</a> | <a href='#' target='_blank'>Source code (GitHub)</a></p>

      </section>

      <section class='portfolio-item float-right'>

        <h1 class='project-title'>Pico Pico</h1>
        <a href="/img/pico-pico-full.png" data-lightbox="image-1" data-title="Pico Pico, a Twitter-like clone that I created during my time at Makers Academy"><img src='/img/pico-pico-full.png' alt='Small image of Pico Pico app' class='portfolio-item-preview'/></a>
        <p class='project-description'>This is where the brief project description goes</p>
        <p class='project-links'><a href='#' target='_blank'>Live version (Heroku)</a> | <a href='#' target='_blank'>Source code (GitHub)</a></p>

      </section>

    </section>

    <!-- Row #2 -->

    <section class='portfolio-row'>

      <section class='portfolio-item'>

        <h1 class='project-title'>Pico Pico</h1>
        <a href="/img/pico-pico-full.png" data-lightbox="image-1" data-title="Pico Pico, a Twitter-like clone that I created during my time at Makers Academy"><img src='/img/pico-pico-full.png' alt='Small image of Pico Pico app' class='portfolio-item-preview'/></a>
        <p class='project-description'>This is where the brief project description goes</p>
        <p class='project-links'><a href='#' target='_blank'>Live version (Heroku)</a> | <a href='#' target='_blank'>Source code (GitHub)</a></p>

      </section>

      <section class='portfolio-item float-right'>

        <h1 class='project-title'>Pico Pico</h1>
        <a href="/img/pico-pico-full.png" data-lightbox="image-1" data-title="Pico Pico, a Twitter-like clone that I created during my time at Makers Academy"><img src='/img/pico-pico-full.png' alt='Small image of Pico Pico app' class='portfolio-item-preview'/></a>
        <p class='project-description'>This is where the brief project description goes</p>
        <p class='project-links'><a href='#' target='_blank'>Live version (Heroku)</a> | <a href='#' target='_blank'>Source code (GitHub)</a></p>

      </section>

    </section>

  </section>

</main>
