<main id='container'>

  <section id='content'>

    <header>
      <h1>Portfolio</h1>
    </header>

    <!-- Row #1 -->

    <section class='portfolio-row'>

      <section class='portfolio-item float-left'>
        <h2 class='project-title'>Pico Pico</h2>
        <section class='project-image'>
          <a href="/img/pico-pico.png" data-lightbox="portfolio-images" data-title="Pico Pico, a Twitter-like clone"><img src='/img/pico-pico.png' alt='Screenshot of Pico Pico app' class='project-image-preview'/></a>
        </section>
        <section class='project-details'>
          <p class='project-description'>Pico Pico is a basic Twitter-like app created with PostgreSQL, Ruby, Sinatra, HTML, CSS, and jQuery.</p>
          <button class='project-link-button'><a href='https://pico-pico.herokuapp.com/' target='_blank' class='project-link'>Live version on Heroku</a></button>
          <button class='project-link-button'><a href='https://github.com/andrewhercules/pico-pico' target='_blank' class='project-link'>Source code on GitHub</a></button>
        </section>
      </section>

      <section class='portfolio-item float-right'>
        <h2 class='project-title'>Rewardr</h2>
        <section class='project-image'>
          <a href="/img/rewardr.png" data-lightbox="portfolio-images" data-title="Rewardr, a Ruby on Rails corporate rewards app"><img src='/img/rewardr.png' alt='Screenshot of Rewardr app' class='project-image-preview'/></a>
        </section>
        <section class='project-details'>
          <p class='project-description'>Rewardr is a corporate rewards app built using Ruby on Rails, various gems, and HTML/CSS/jQuery on the front-end.</p>
          <button class='project-link-button'><a href='https://fast-meadow-6272.herokuapp.com/' target='_blank' class='project-link'>Live version on Heroku</a></button>
          <button class='project-link-button'><a href='https://github.com/HatStephens/FATS_Rewardr' target='_blank' class='project-link'>Source code on GitHub</a></button>
        </section>
      </section>

    </section>

    <!-- Row #2 -->

    <section class='portfolio-row'>

      <section class='portfolio-item float-left'>
        <h2 class='project-title'>Badgr</h2>
        <section class='project-image'>
          <a href="/img/badgr.png" data-lightbox="portfolio-images" data-title="Badgr, a mobile app for sharing badges with your friends"><img src='/img/badgr.png' alt='Screenshot of Badgr app interface' class='project-image-preview'/></a>
        </section>
        <section class='project-details'>
          <p class='project-description'>Badgr is a mobile app built with JavaScript, HTML, and CSS that allows users to send badges to their friends.</p>
          <button class='project-link-button'><a href='https://github.com/Scully87/FATS_badgr' target='_blank' class='project-link'>Source code on GitHub</a></button>
        </section>
      </section>

      <section class='portfolio-item float-right'>
        <h2 class='project-title'>Rock, Paper, Scissors</h2>
        <section class='project-image'>
          <a href="/img/rock-paper-scissors.png" data-lightbox="portfolio-images" data-title="Rock, Paper, Scissors, the classic hand game"><img src='/img/rock-paper-scissors.png' alt='Small image of Rock, Paper, Scissors app' class='project-image-preview'/></a>
        </section>
        <section class='project-details'>
          <p class='project-description'>Rock, Paper, Scissors is the classic game built with Ruby, Sinatra, HTML, CSS, and jQuery.</p>
          <button class='project-link-button'><a href='https://ah-rps.herokuapp.com/' target='_blank' class='project-link'>Live version on Heroku</a></button>
          <button class='project-link-button'><a href='https://github.com/andrewhercules/rock-paper-scissors' target='_blank' class='project-link'>Source code on GitHub</a></button>
        </section>
      </section>

    </section>

    <!-- End of rows -->

  <p class='portfolio-home-link'>Homepage: <a href='/'><span class='fa fa-home'></span></a>

  </section>

</main>
