#container {
  width: 100%;
  background-color: #f3f2f2;
}

#content {
  width: 80%;
  position: relative;
  background-color: #2d3e50;
  margin: 0 auto;
}

h1 {
  font-family: 'Rockwell', Georgia, Times, serif;
  font-size: 6vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Futura', Verdana, Tahoma, sans-serif;
  font-size: 2vw;
  color: #f3f2f2;
  text-align: center;
}

#top-row-icons, #bottom-row-icons {
  background-color: yellow;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.icon {
  margin: 2%;
  background-color: orange;
  width: 30%;
  height: 100px;
  border: 5px solid red;
}

footer#footer-bar {
  width: 80%;
  margin: 0 auto;
  background-color: green;
}

p#contact-info {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1vw;
  color: #f3f2f2;
  text-align: center;
}
a, a:hover {
  text-decoration: none;
  color: #f3f2f2;
}
}