html, #container {
  width: 100%;
  background-color: #f3f2f2;
}

#content {
  width: 80%;
  position: relative;
  background-color: #2d3e50;
  margin: 2.5% auto;
  border: 5px solid #2d3e50;
  border-radius: 5px;
}

h1 {
  font-family: 'Bitter', serif;
  text-transform: uppercase;
  font-size: 6vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
  padding-top: 1%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.4vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
  padding-bottom: 3%;
}

h3 {
  font-family: 'Futura', Verdana, Tahoma, sans-serif;
  font-size: 2.4vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
  padding-bottom: 3%;
  padding-top: 2%;
}

#top-row-icons, #bottom-row-icons {
  background-color: #2d3e50;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.icon-container {
  margin: 2%;
/*  background-color: orange;*/
  width: 20.5%;
}

footer#footer-bar {
  width: 80%;
  margin: 0 auto;
  background-color: #2d3e50;
  border: 5px solid #2d3e50;
  border-radius: 5px;
}

address {
  font-style: normal;
}

p#contact-info, p.about-text {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1vw;
  color: #f3f2f2;
  text-align: center;
}

p#icon-credits {
  font-size: 0.75vw;
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  color: #f3f2f2;
  text-align: center;
}

p.about-text {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1.5vw;
  color: #f3f2f2;
  text-align: center;
}


a, a:hover {
  text-decoration: none;
  color: #f3f2f2;
}

.icon {
  display: block;
  border: 5px solid #f3f2f2;
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}

section#bio {
  width: 85%;
  margin: 0 auto;
}

#headshot {
  display: block;
  width: 20%;
  height: 20%;
  margin: 0 auto;
}

p.about-text-home-link {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1vw;
  color: #f3f2f2;
  text-align: right;
}

section.portfolio-item {
  width: 44%;
  display: inline-block;
}

img.portfolio-item-preview, img.project-image-preview {
  width: 100%;
}

section.portfolio-row {
  margin-top: 3%;
  clear: both;
}

section.float-right {
  float: right;
  margin-right: 4%;
}

section.float-left {
  margin-left: 4%;
}

section.project-details {
  padding: 0% 2%;
  margin-bottom: 5%;
}

p.project-description, p.project-links {
  font-family: 'Source Sans Pro', sans-serif;
  color: #f3f2f2;
  text-align: justify;
}

button.project-link-button {
  background-color: #f3f2f2;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 5px;
  margin-right: 2%;
  padding: 1%;
}

a.project-link {
  color: #2d3e50;
}

hr {
  margin-top: 2%;
  width: 92%;
}
