html, #container {
  width: 100%;
  background-color: #f3f2f2;
}

#content {
  width: 80%;
  position: relative;
  background-color: #2d3e50;
  margin: 2.5% auto;
  border: 5px solid #2d3e50;
  border-radius: 5px;
}

h1 {
  font-family: 'Rockwell', Georgia, Times, serif;
  font-size: 6vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
  padding-top: 1%;
}

h2 {
  font-family: 'Futura', Verdana, Tahoma, sans-serif;
  font-size: 2.4vw;
  color: #f3f2f2;
  text-align: center;
  margin: 0;
  padding-bottom: 3%;
}

#top-row-icons, #bottom-row-icons {
  background-color: #2d3e50;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.icon-container {
  margin: 2%;
/*  background-color: orange;*/
  width: 20.5%;
}

footer#footer-bar {
  width: 80%;
  margin: 0 auto;
  background-color: #2d3e50;
  border: 5px solid #2d3e50;
  border-radius: 5px;
}

address {
  font-style: normal;
}

p#contact-info {
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  font-size: 1vw;
  color: #f3f2f2;
  text-align: center;
}

p#icon-credits {
  font-size: 0.75vw;
  font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
  color: #f3f2f2;
  text-align: center;
}
a, a:hover {
  text-decoration: none;
  color: #f3f2f2;
}

.icon {
  display: block;
  border: 5px solid #f3f2f2;
  border-radius: 5px;
  margin: 0 auto;
  width: 70%;
  height: 70%;
}
