<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Maintenance Reporting Mobile App</h2>
            <hr class="star-primary">
            <!-- <img src="img/portfolio/pm_halls_app_project.png" class="img-responsive img-centered" alt="Graphic illustration of mobile phone with tools">
            <p class="small">Graphic illustration courtesy of <a href="http://www.freepik.com/free-photos-vectors/design" target="_blank">Freepik</a>.</p> -->
            <div class="modal-body-text" style="text-align:left">
              <p>
                In January and February 2016, the University of London (UoL) undertook a five-week discovery project to explore user needs around a
                maintenance-reporting app for one the UK's leading providers of student accommodation. As the lead researcher, I ran a series of
                one-to-one interviews and focus groups, collected and analyzed 200+ survey responses, and conducted site visits to understand the needs
                of students and staff who would be using the app.
              </p>
              <p>
                My research found that while residents would like to submit maintenance requests through a mobile app, they also want the app to deal with
                various wellbeing and welfare issues (e.g. noise complaints; referrals for medical/dental services; delivery/mail pickup). However, existing
                issues with back-end processes and systems used by the client would result in lower download, use, and adoption rates amongst student residents.
                For example, residents wanted the app to provide details on when they could expect someone to fix their issue and they wanted notifications
                when someone visited their residence and the work that was completed. After conducting a site visit, I concluded that these needs could not be met
                because the current system used by the client requires repetitive manual data entry and results in complex, paper-based processes (e.g. staff have
                limited access to technology and they use paper receipts from a carbon-copy receipt book; completed job sheets are manually filled in, scanned,
                and saved as non-searchable PDFs).
              </p>
              <p>
                Therefore, I recommended that the client improve their back-end systems and processes with new software and focus on quick-wins - specifically, creating a
                mobile-optimized website, introducting live chat functionality, and focusing on student well-being and welfare services.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong>One of the UK's leading providers of student accommodation</strong></li>
              <li>Date: <strong>January and February 2016</strong></li>
              <li>Service: <strong>User Experience Research, Digital Strategy</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
