<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TfL (Transport for London)</h2>
            <hr class="star-primary">
            <div class="modal-body-text" style="text-align:left">
              <p>
                Currently, Transport for London (TfL) is undergoing a large-scale and aggressive digital transformation. Designed to streamline and improve customer service
                and operations, the project team is responsible for designing, developing, and deploying a full suite of mobile applications for use on TfL-issued smartphones and tablets.
              </p>
              <p>
                As one of the contract UX Designers, I was responsible for creating test scenarios based on existing user journeys and conducting user testing
                with various TfL staff. I collected and analyzed the feedback and presented it to the larger project group using printed screenshots with colour-coded
                annotations. Using the insights I generated from my research activities, I collaborated with internal stakeholders and external service providers
                and contractors to redesign and improve the user experience of both the single-sign on and fault reporting applications.
              </p>
              <p>
                With the single sign-on process, my findings directly contributed to the decision made by the project team leads to decouple the need to set
                password recovery options when a user initially signs in. For many users, this process took more than 15 minutes, was very frustrating and confusing,
                and was not optimized for the devices they used.
              </p>
              <p>
                Similarily, with the fault reporting application, my research findings resulted in a new layout for the profile pop-up box and new location for the
                logout button. I also created <a href="docs/portfolio/tfl/tfl_design_pattern.pdf">a design pattern for connectivity notifications for both tablet and smartphone devices</a>
                as users wanted consistency in how they were notified when their device had slow/no connectivity. For a more information on the development of the design pattern,
                please download the <a href="docs/portfolio/tfl/tfl_case_study.pdf">TfL Case Study</a>.
            </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="http://tfl.gov.uk/">Transport for London</a></strong></li>
              <li>Date: <strong>August to October 2015</strong></li>
              <li>Skills: <strong>User Research</strong>; <strong>User Experience Design</strong>; <strong>User Testing</strong>; <strong>Digital Strategy</strong>;
              <strong>Stakeholder Management</strong>; <strong>Design Patterns</strong>; <strong>Adobe Illustrator</strong>; <strong>Adobe InDesign</strong></li>
            </ul>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
