<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Maintenance Reporting Mobile App</h2>
            <hr class="star-primary">
            <img src="img/portfolio/pm_halls_app_project.png" class="img-responsive img-centered" alt="Graphic illustration of mobile phone with tools">
            <p class="small">Graphic illustration courtesy of <a href="http://www.freepik.com/free-photos-vectors/design" target="_blank">Freepik</a>.</p>
            <p>
              In January and February 2016, the University of London (UoL) undertook a five-week discovery process to explore user needs around a maintenance-reporting app
              for one the UK's leading providers of student accommodation. As the lead researcher, I ran a series of one-to-one interviews and focus groups, collected and analysed
              200+ survey responses, and conducted site visits. My research found that while there is a need for a mobile application, existing issues with back-end processes
              would result in lower download, use, and adoption rates amongst student residents. I also recommended that the client explore quick-wins - specifically, creating a
              mobile-optimised website, exploring live chat functionality, and focusing on student well-being and welfare services.
            </p>
            <ul class="list-inline item-details">
              <li>Client: <strong>One of the UK's leading providers of student accommodation</strong></li>
              <li>Date: <strong>January and February 2016</strong></li>
              <li>Service: <strong>User Experience Research, Digital Strategy</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
