<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>UoL Bloom</h2>
            <hr class="star-primary">
            <div class="modal-body-text" style="text-align:left">
              <p>
                <a href="http://www.bloom.london.ac.uk/about" target="_blank">Bloom</a> is a flexible, reliable, and customisable e-learning solution
                developed by the Software Services team at the University of London (UoL). It is used by 3 million users in more than 90 colleges, universities,
                and education/training institutions across the United Kingdom.
              </p>
              <p>
                In March 2016, I began working on a project to research and redesign the user experience and user interface.
                The goal of the project is to create an "out-of-the-box" service offering that meets the needs of all users - from students and lecturers to
                learning technologists and admin staff.
              </p>
              <p>
                As the co-lead researcher, I used a range of quantitative and qualitative research methods - including competitor analysis,
                one-to-one interviews, focus groups, and surveys - to better understand how users are currently using Bloom and other virtual learning environments. I
                transcribed and analysed the research to generate insights that were used by <a href="https://petantse.github.io/petya_stoyanova/" target="_blank">Petya Stoyanova</a>,
                the team's Graphic/Interaction Designer, to create various research outputs, including:
              </p>
              <ul>
                <li>
                  <p><a href="docs/portfolio/bloom/sample_personas.pdf">Personas</a> for student, lecturer, and learning technologist users</p>
                </li>
                <li>
                  <p>User journeys for both <a href="docs/portfolio/bloom/sample_user_journey_mobile.pdf">mobile</a> and <a href="docs/portfolio/bloom/sample_user_journey_desktop.pdf">desktop/laptop</a> experiences</p>
                </li>
                <li>
                  <p><a href="docs/portfolio/bloom/sample_mockup_dashboard_grades.pdf">Low-fidelity mockups</a> for user interfaces and dashboards</p>
                </li>
              </ul>
              <p>
                In addition, I repurposed the research outputs for content marketing purposes and authored a white paper,
                <a href="docs/portfolio/bloom/research_whitepaper.pdf"><em>Top 5 Research Findings: The Student Experience With Moodle</em></a> and a
                <a href="docs/portfolio/bloom/ed_tech_magazine_article.pdf">magazine article for <em>Education Technology</em></a>.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="https://bloom.london.ac.uk/">UoL Software Services (Bloom)</a></strong></li>
              <li>Date: <strong>March 2016 to December 2016</strong></li>
              <li>Skills: <strong>User Research</strong>; <strong>User Experience Design</strong>; <strong>User Testing</strong>; <strong>Content Marketing</strong></li>
            </ul>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
