<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Badgr</h2>
            <hr class="star-primary">
            <img src="img/portfolio/pm_badgr.png" class="img-responsive img-centered" alt="Screenshots of Badgr mobile application">
            <p>
              Badgr is a mobile app built with JavaScript, HTML, and CSS that allows users to send badges to their friends.
              It was built in collaboration with <a href="https://github.com/HatStephens" target="_blank">Stephen Giles</a>,
              <a href="https://github.com/Scully87" target="_blank">Tim Scully</a>, and
              <a href="https://github.com/fadieh" target="_blank">Fadie Hannona</a>.
              The source code is available on <a href="https://github.com/Scully87/FATS_badgr" target="_blank">GitHub</a>.
            </p>
            <ul class="list-inline item-details">
              <li>Client: <strong>Personal Development Project</strong></li>
              <li>Date: <strong>December 2014</strong></li>
              <li>Service: <strong>Web Development</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
