<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>UoL Bloom</h2>
            <hr class="star-primary">
            <!-- <img src="img/portfolio/pm_bloom.png" class="img-responsive img-centered" alt="Graphic illustration of desk with computer and lamp"> -->
            <!-- <p class="small">Graphic illustration courtesy of <a href="http://www.vecteezy.com/members/zhaolifang" target="_blank">zhaolifang via Vecteezy</a>.</p> -->
            <div class="modal-body-text" style="text-align:left">
              <p>
                <a href="http://www.bloom.london.ac.uk/about" target="_blank">Bloom</a> is a flexible, reliable, and customisable e-learning solution
                developed by the Software Services team at the University of London (UoL). It is used by 3 million users in more than 90 colleges, universities,
                and education/training institutions across the United Kingdom.
              </p>
              <p>
                In March 2016, I was seconded on a part-time basis to work on a comprehensive user research project to reimagine and redesign the
                user experience and user interface. The goal of the project is to create an "out-of-the-box" service offering that meets the needs of all
                users  - from students to lecturers to learning technologists - while enhancing the learning experience for students.
              </p>
              <p>
                As the co-lead researcher for the first phase of the project, I used a range of quantitative and qualitative research methods - including competitor analysis,
                one-to-one interviews, focus groups, and surveys - to better understand how users are currently using Bloom and other virtual learning environments. I
                transcribed and analyzed the research to generate insights and findings that were used to create various research outputs, including
                <a href="docs/portfolio/bloom_sample_personas.pdf">personas for student, lecturer, and learning technologist users</a> and
                <a href="docs/portfolio/bloom_sample_user_journey.pdf">user journeys for Claudia, our first-year student persona</a>. These outputs were then
                used by the UoL Research &amp; Development team to create prototypes that were tested with multiple users and the feedback we received
                has been used to further refine our designs and the overall user experience. In addition, I repurposed our research outputs to create a white paper,
                <a href="docs/portfolio/bloom_whitepaper.pdf"><em>Top 5 Research Findings: The Student Experience With Moodle</em></a>, which has been
                used to support UoL's communications and marketing strategies for Bloom.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="http://bloom.ulcc.ac.uk/">UoL Software Services (Bloom)</a></strong></li>
              <li>Date: <strong>March 2016 to present (ongoing)</strong></li>
              <li>Service: <strong>User Experience Research &amp; Design</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
