<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Rewardr</h2>
            <hr class="star-primary">
            <!-- <img src="img/portfolio/pm_rewardr.png" class="img-responsive img-centered" alt="Screenshot of Rewardr app homepage"> -->
            <div class="modal-body-text" style="text-align:left">
              <p>
                Rewardr is a corporate rewards app built using Ruby on Rails, various gems, and HTML/CSS/jQuery on the front-end.
                It was built in collaboration with <a href="https://github.com/HatStephens" target="_blank">Stephen Giles</a>,
                <a href="https://github.com/Scully87" target="_blank">Tim Scully</a>, and
                <a href="https://github.com/fadieh" target="_blank">Fadie Hannona</a>.
                A sample version of the app can be found on <a href="https://fast-meadow-6272.herokuapp.com/" target="_blank">Heroku</a>
                and the source code is available on <a href="https://github.com/HatStephens/FATS_Rewardr" target="_blank">GitHub</a>.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong>Personal Development Project</strong></li>
              <li>Date: <strong>December 2014</strong></li>
              <li>Service: <strong>Web Development</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
