<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Financial Services Training Mobile App</h2>
            <hr class="star-primary">
            <div class="modal-body-text" style="text-align:left">
              <p>
                In January 2017, senior management at an established European financial services and advisory firm began a review of the training programme that all
                new hires were to complete within the first two months of joining the company. While 100% of new hires for 2016 completed the training, more than 60%
                completed it just before the deadline. This presented a unique problem because new staff could not work on new or existing client accounts until the
                training was complete.
              </p>
              <p>
                I was asked by the management team rethink the training experience and user interface. I began by reviewing existing employee
                data for trends and researched various staff development and training programs. I focused on programs offered on mobile devices because the firm was
                also considering a proposal to give each staff member a tablet for client work. To increase the value proposition for the tablet proposal, I recommended that the
                training be repurposed into a tablet app so as to offer users a more flexible, anywhere/anytime, tailored experience. To support my recommendation, I created 
                <a href="docs/portfolio/finserv/finserv_mockups.pdf">high-fidelity mockups</a> for a training module delivered on a mobile device.
              </p>
              <p>
                For more information - including a project overview, research findings, and sample mockups - please download the <a href="docs/portfolio/finserv/finserv_case_study.pdf">Financial Services Training Case Study</a>.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong>A London-based financial services and advisory firm</strong></li>
              <li>Date: <strong>January 2017</strong></li>
              <li>Skills: <strong>User Research</strong>; <strong>Data Analysis</strong>; <strong>User Experience Design</strong>; <strong>User Interface Design</strong>;
                <strong>Mobile Learning</strong>; <strong>Digital Strategy</strong>; <strong>Axure RP</strong>; <strong>Adobe Illustrator</strong>; <strong>Adobe Photoshop</strong>
              </li>
            </ul>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
