<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>UoL Bloom</h2>
            <hr class="star-primary">
            <img src="img/portfolio/pm_bloom.png" class="img-responsive img-centered" alt="Graphic illustration of desk with computer and lamp">
            <p class="small">Graphic illustration courtesy of <a href="http://www.vecteezy.com/members/zhaolifang" target="_blank">zhaolifang via Vecteezy</a>.</p>
            <p>Bloom is an open-source, highly customisable e-learning solution developed by the University of London (UoL).
              It is used by numerous higher and further education institutions across the United Kingdom.
              I am currently working on a comprehensive user research project to reimagine and redesign the user experience
              and user interface. The goal of the project is to create an "out-of-the-box" service offering that meets the needs of
              users and enhances the learning experience for students.
            </p>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="http://bloom.ulcc.ac.uk/">UoL Bloom</a></strong></li>
              <li>Date: <strong>Ongoing</strong></li>
              <li>Service: <strong>User Research &amp; Design</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
