<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>LSBU Research Open</h2>
            <hr class="star-primary">
            <div class="modal-body-text" style="text-align:left">
              <p>
                In mid-2015, London South Bank University (LSBU) commenced a project to overhaul their publications repository,
                <a href="http://researchopen.lsbu.ac.uk/" target="_blank">LSBU Research Open</a>. The project was designed to
                improve the repository and integrate a third-party research system in time for changes to open access rules in April 2016.
              </p>
              <p>
                As the lead designer on the project, I was responsible for designing the user experience and user interface based on user needs. However, due to tight
                project deadlines, I was unable to complete a comprehensive and thorough user research phase. I shortened the research phase
                and relied on a small sample of users and various online resources and academic research on repository usage patterns and user expectations.
              </p>
              <p>
                After analysing the research I gathered, I created a series of <a href="docs/portfolio/lsbu/lsbu_wireframes.pdf">low-fidelity wireframes</a> using Axure RP.
                These wireframes were shared with LSBU and amended to account for subsequent changes to their institutional branding and web standards.
                Once the wireframes were approved, they were given to a team of developers who reconfigured and redesigned the repository.
              </p>
              <p>
                For a complete overview of the project, please download the <a href="docs/portfolio/lsbu/lsbu_case_study.pdf">LSBU Research Open Case Study</a>.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="https://www.lsbu.ac.uk/">London South Bank University</a></strong></li>
              <li>Date: <strong>November 2015 to October 2016</strong></li>
              <li>Skills: <strong>User Research</strong>; <strong>User Experience Design</strong>; <strong>User Interface Design</strong>; <strong>Axure RP</strong>
              </li>
            </ul>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
