<div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Fast-Add Manuscript System (FAMS)</h2>
            <hr class="star-primary">
            <div class="modal-body-text" style="text-align:left">
              <p>
                In March 2016, I was assigned a research and strategy project that involved working with one of the leading specialist training institutions in England.
                The institution wanted to replace an existing system that research staff used to submit manuscripts for internal review prior to submitting the
                manuscript for publication in a journal.
              </p>
              <p>
                As the lead researcher, I conducted a series of interviews and focus groups, reviewed a previous report on replacing the system that was written
                in 2015, and researched the range of existing products already on the market. Based on my research, I recommended that the institution delay replacing
                the system and focus on developing policy to improve the submission rate - currently, only 30-40% of manuscripts are submitted for internal review.
                My recommendations were included in a 15 page summary report that also included:
              </p>
              <ul>
                <li>
                  <p><a href="docs/portfolio/fams/fams_personas.pdf">Personas</a> for two research staff users</p>
                </li>
                <li>
                  <p><a href="docs/portfolio/fams/fams_wireframes.pdf">Low-fidelity wireframes</a> for the user dashboard and submission page</p>
                </li>
              </ul>
              <p>
                For more information - including a project overview, key research findings, personas, and wireframes - please download the
                <a href="docs/portfolio/fams/fams_case_study.pdf">Fast-Add Manuscript System (FAMS) Case Study</a>.
              </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong>One of England's leading specialist training and research institutions</strong></li>
              <li>Date: <strong>March - April 2016</strong></li>
              <li>Skills: <strong>User Research</strong>; <strong>User Experience Design</strong>; <strong>Wireframing</strong>; <strong>Digital Strategy</strong>; <strong>Axure RP</strong>; <strong>Adobe InDesign</strong>
              </li>
            </ul>
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
