<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Pico Pico</h2>
            <hr class="star-primary">
            <img src="img/portfolio/pm_pico_pico.png" class="img-responsive img-centered" alt="Screenshot of Pico Pico homepage">
            <p>
              Pico Pico is a basic Twitter-like app created with PostgreSQL, Ruby, Sinatra, HTML, CSS, and jQuery.
              A sample version of the app can be found on <a href="https://pico-pico.herokuapp.com/" target="_blank">Heroku</a>
              and the source code is available on <a href="https://github.com/andrewhercules/pico-pico" target="_blank">GitHub</a>.
            </p>
            <ul class="list-inline item-details">
              <li>Client: <strong>Personal Development Project</strong></li>
              <li>Date: <strong>December 2014</strong></li>
              <li>Service: <strong>Web Development</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
