<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TfL IM Mobile Project</h2>
            <hr class="star-primary">
            <!-- <img src="img/portfolio/pm_tfl.png" class="img-responsive img-centered" alt="Graphic illustration of Transport for London's underground logo">
            <p class="small">Graphic illustration courtesy of <a href="http://www.freepik.com/free-photos-vectors/design" target="_blank">Freepik</a>.</p> -->
            <div class="modal-body-text" style="text-align:left">
              <p>
                The IM Mobile Project is an ongoing digital transformation project at Transport for London (TfL). Designed to streamline and improve customer service
                and operations, the project team is responsible for designing, developing, and deploying a full suite of mobile applications for use on TfL-issued smartphones and tablets.
              </p>
              <p>
                As one of the contract UX Designers, I was responsible for creating test scenarios based on existing user journeys and conducting user testing
                with various TfL staff. I collected and analyzed the feedback and presented it to the larger project group using printed screenshots with colour-coded
                annotations. Using the insights I generated from my research activities, I collaborated with internal stakeholders and external service providers
                and contractors to redesign and improve the user experience of both the single-sign on and fault reporting applications.
              </p>
              <p>
                With the single sign-on process, my findings directly contributed to the decision made by the project team leads to decouple the need to set
                password recovery options when a user initially signs in. For many users, this process took more than 15 minutes, was very frustrating and confusing,
                and was not optimized for the devices they used.
              </p>
              <p>
                Similarily, with the fault reporting application, my research findings resulted in a new layout for the profile pop-up box and new location for the
                logout button. I also created a design pattern for connectivity notifcations for both tablet and smartphone devices as users wanted to consistency in how
                they were notified when their device had slow/no connectivity to either mobile or WiFi networks.
            </p>
            </div>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="http://tfl.gov.uk/">Transport for London</a></strong></li>
              <li>Date: <strong>August to October 2015</strong></li>
              <li>Service: <strong>User Experience Research &amp; Design</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
