<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TfL IM Mobile Project</h2>
            <hr class="star-primary">
            <img src="img/portfolio/pm_tfl.png" class="img-responsive img-centered" alt="Graphic illustration of Transport for London's underground logo">
            <p>
              The IM Mobile Project is an ongoing digital transformation project at Transport for London (TfL). Designed to streamline its customer service operations,
              the project team is developing and deploying a full suite of mobile applications for use on TfL-issued smartphones and tablets. As one of the
              contract user researchers, I was responsible for conducting user research and testing and I collaborated with internal stakeholders and external
              service providers to improve the user experience of the single-sign on and fault reporting applications. I also created internal communications
              strategies to increase awareness of new apps and features via push notifications. 
            </p>
            <ul class="list-inline item-details">
              <li>Client: <strong><a href="http://tfl.gov.uk/">Transport for London</a></strong></li>
              <li>Date: <strong>August to October 2015</strong></li>
              <li>Service: <strong>User Experience Research &amp; Design, Communications</strong></li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
